.heading
{
  font-size: 23px;
  width: 100%;
  margin: 0px;
  box-shadow: 2px 2px 2px grey;
}
.note
{
  font-size: 15px;
  color: black;
}
body
{
  background-size: cover;	
}

.song_name {
    font-size: 23px;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px grey;
}

.play_button
  {
  	width: 130px;
  	font-size: 25px;
  }

canvas {
  margin: 10px;
  box-shadow: 2px 2px 2px red;
  border: 7px solid grey;
}
